<html>
<head>
  <h1>New book</h1>
</head>
<body>
<div class="container">

  <%= bootstrap_form_with scope: :books, url: books_path, local: true do |form| %>
 
    <p>
      <%#= select_tag(:book, options_for_select(@category), :prompt => "select add Category")%>
    </p>

    <p>
      <%= form.number_field :Total %>
    </p>
   
    <p>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.text_area :price %>
    </p>

     <p>
      <%= form.text_area :author %>
    </p>

    <p>
      <%= form.text_area :book_no %>
    </p>

    <p>
      <%= form.text_area :description %>
    </p>

    <div>
    <p>
      <%= form.file_field :image %>
    </p>
    </div>
     
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
</body>
</html>