
<div class="container my-3">
  <div>
    <% if @book.image.attached? %>
    <%= image_tag @book.image, height: 300, weight: 300 %>
    <% end %>
  </div>
<script>
    $(".container").click(function(){
       $("p").toggle();//{
      //   height: '150px',
      //   width: '150px'
      // });
    });
</script>
<style>
            button {
                background-color: cyan;
                height: 50px;
                width: 80px;
                padding: 20px;
            }

            button {border-radius: 12px;}
        </style>
<button id="toggle">Contant</button>

<!-- <button id="show">Show</button>     -->
   <%#= button_to 'contant show', class: 'btn btn-outline-primary'  %>
  <p>
    <strong>Name:</strong>
    <%= @book.name %>
  </p>
  
  <p>
    <strong>Price:</strong>
    <%= @book.price %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>Book No:</strong>
    <%= @book.book_no %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @book.description %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @book.Total %>
  </p>
  
  <%= link_to 'back', books_path,  class: "btn btn-primary" %>

</div>
