 <% @book_issues.includes(:user).each do |book_issue| %>
     
      <div class="card" style="width: 18rem;">
        <div class="card-body">
            
          <p>
            <% if book_issue.book.image.attached? %>
              <%= image_tag book_issue.book.image.attachment, height: 50, weight: 50 %>
            <% end %>
          </p>
          
          <p>
            <strong>User Id :</strong>
            <%= book_issue.user_id %>
          </p>  

          <p>
            <strong>Name:</strong>
            <%= book_issue.book.name %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= book_issue.book.price %>
          </p>

          <p>
            <strong>Issue Date:</strong>
            <%= book_issue.issue_date %>
          </p>
         
          <p>
            <strong>Total Day</strong>
            <%= book_issue.total_day %>
          </p>
          <p>
              <%= button_to :total_fine %>
          </p>

        </div>
      </div>
    </di