<div class="container">
  <h1>All Issued books</h1>
  <% @book_issues.includes(:user).each do |book_issue| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p>
            <% if book_issue.book.image.attached? %>
              <%= image_tag book_issue.book.image.attachment, height: 50, weight: 50 %>
            <% end %>
          </p>
          
          <p>
            <strong>User Id :</strong>
            <%= book_issue.user_id %>
          </p>  

           <p>
            <strong>Email Id :</strong>
            <%= book_issue.user.email %>
          </p>  

          <p>
            <strong>Name:</strong>
            <%= book_issue.book.name %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= book_issue.book.price %>
          </p>

          <p>
            <strong>Issue Date:</strong>
            <%= book_issue.issue_date %>
          </p>
         
          <p>
            <strong>Total Day</strong>
            <%= book_issue.total_day %>
          </p>
         
          <p>
            <strong>Total Fine</strong>
            <%= book_issue.total_fine %>
          </p>
          

          <p>
              <%#= link_to :total_fine %>
              <%= link_to "Checkout", book_issue.book.paypal_url(root_url) %>
              <%#= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"),  
               book_issue.book.paypal_url(root_path)%>
          </p>
          <!-- <p>
            <strong>Submit Date:</strong>
            <%#= book_issue.submit_date %>
          </p> -->
        </div>
      </div>
    </div>
  </div>
  <br>
  <% end %>
  <div class="my-3">
    <%#= will_paginate @books, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

