s<div class="container">
  <h1>Book Issue</h1>

  <%= form_with model: @book_issue, local: true do |form| %>
    <p>
      <%= form.label :issue_date %><br>
      <%= form.date_field :issue_date %>
    </p>
    
  
    <%= form.hidden_field :book_id, value: params[:book_id] %>
    <%= form.hidden_field :user_id, value: params[:user_id] %>
  <p>
    <%= form.select :total_day, ["1","2","3","4","5","6","7","8","9","10"] %>
     
      <%# book_issue = current_user.Total.find_by(book_id: book_id) :method.book_issue do%>

      <%= form.submit %>
    </p>
  <% end %>
</div>