
<h1>Book Issue</h1>
<%= form_with model: @book_issue, local: true do |form| %>

  <p>
    <%= form.label :issue_date %><br>
    <%= form.date_field :issue_date %>
  </p>
 
  <p>
    <%= form.label :submit_date %><br>
    <%= form.date_field :submit_date %>
  </p>
  <%= form.hidden_field :book_id, value: params[:book_id] %>
  <%= form.hidden_field :user_id, value: params[:user_id] %>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>