<div class="container">  
  <h1>Issued</h1>
  <p>
    <strong>User_id:</strong>
    <%= @book_issue.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @book_issue.book.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @book_issue.book.price %>
  </p>


  <p>
    <strong>Issue Date:</strong>
    <%= @book_issue.issue_date %>
  </p>
 
  <p>
    <strong>Submit Date:</strong>
    <%= @book_issue.submit_date %>
  </p>
</div>